fishd.*
nvim/plugged
.netrwhist

## To track a file, `git add` it explicitly.
fish/completions/
fish/functions/
fish/conf.d/
fish/fish_variables

## emacs
.emacs.d/elpa/
.emacs.d/network-security.data
